{% extends "home/layouts/base.html" %}

{% load static %}

{% block title %}Inicio{% endblock title %}

{% block content %}

    <main class="container">
        <div class="row my-4">
            <!--Formas insegura de manejar forms-->

            <!--
                
            <form action="" method="POST">
                {% csrf_token %}

            <label for=""> Nombre
                    <input name="nombre" type="text">
                </label>
            
                <button type="submit">Enviar</button> 
            </form>

            -->


            <!--

            {% comment %} Formulario Genérico {% endcomment %}

            <form action="" method="POST">
                {% csrf_token %}

                <label for=""> Nombre<input name="nombre" type="text"></label>     
                {{form.as_p}}
                <button type="submit">Enviar</button> 
            </form>

            -->

            {% comment %} Formulario Carrera{% endcomment %}


            <form>
                {% csrf_token %}
                <fieldset>
                  <legend>Form Carreras</legend>
                  <div class="mb-3">
                    {{form_carreras.as_div}}
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>
    </main>    


{% endblock content %}
