<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>

    <!--Estilos base-->
    {% block linkscss %}{% endblock linkscss %}
    
    {% include "home/includes/linkscss.html" %}   
</head>

<body>
    
    {% include "home/includes/navbar.html" %}  

    {% block content %}{% endblock content %}

    {% include "home/includes/footer.html" %}  

    {% include "home/includes/scripts.html" %}  

</body>
</html>